
@import url(https://fonts.googleapis.com/css?family=Alegreya:200,300,400,500,600,700,700i,900);

.background {
  fill: transparent;
  pointer-events: all;
}

.map-layer {
  fill: #fff;
  stroke: #000;
  stroke-width: 0.7;
  stroke-opacity: 0.5;
}

.effect-layer{
  pointer-events:none;
}

.container-fluid{
  font-family: 'Alegreya', serif;
}

text{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

text.big-text{
  font-size: 30px;
  font-weight: 400;
}

.effect-layer text, text.dummy-text{
  font-size: 12px;
}


/* Css Adicional */


.gral-container{
 /*min-width: 1200px;*/
}

.map-container{
  height: 100%;
}

.map-info-row{
  height: 624px;
}

#dep-name{
  color:rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  margin-top: 0.5em;
  padding-left: 2em;
  font-size: 30px;
}

.table tr td{
  border: none;
  font-size: 16px;
  color:rgba(0, 0, 0, 0.6);
}

.table tr th{
  border: none;
}

.table{
  margin-bottom: 0.5rem;
}

.table th[scope="row"]{
  font-size: 16px;
  font-weight: 200;
  text-align: right;
}

.navbar-light .navbar-nav .nav-item.active{
  background-color: #212529;
  
}

.navbar-light .navbar-nav .nav-link{
  font-weight: 300;
}

.navbar-light .navbar-nav .active>.nav-link{
  color: white;
}

.navbar-brand{
  margin-right: 2em;
}